@model EFSRT_TORQUE.Models.Clientes

@{
    ViewBag.Title = "DeleteCliente";
}

<h2>DeleteCliente</h2>

<div>
    <h4>Cliente a Eliminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteID)
        </dd>
        <!-- Agrega más propiedades del cliente si es necesario -->
    </dl>

    <p>¿Estás seguro de que deseas eliminar este cliente?</p>

    @using (Html.BeginForm("Delete", "Clientes", FormMethod.Post, new { id = "deleteForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "ListarClientes", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
