
.buttons {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 3px 8px;
    margin: 2px;
    min-width: 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


    .buttons.danger {
        background-color: #e74c3c; /* Rojo */
        color: white;
        width: contain;
    }


        .buttons.danger:hover {
            background-color: #c0392b; /* Rojo más oscuro */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }


        .buttons.danger:active {
            background-color: #a93226; /* Rojo aún más oscuro */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transform: translateY(2px);
        }


        .buttons.danger:disabled {
            background-color: #e74c3c;
            opacity: 0.6;
            cursor: not-allowed;
        }

    .buttons.warning {
        background-color: #f39c12; /* Naranja */
        color: white;
        width: contain;
    }

        /* Efecto al pasar el ratón por encima */
        .buttons.warning:hover {
            background-color: #e67e22; /* Naranja más oscuro */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Efecto al hacer clic */
        .buttons.warning:active {
            background-color: #d35400; /* Naranja aún más oscuro */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transform: translateY(2px);
        }

        /* Estilo para el botón deshabilitado */
        .buttons.warning:disabled {
            background-color: #f39c12;
            opacity: 0.6;
            cursor: not-allowed;
        }


    .buttons.info {
        background-color: #3498db; /* Azul */
        color: white;
        width:contain;
    }

        /* Efecto al pasar el ratón por encima */
        .buttons.info:hover {
            background-color: #2980b9; /* Azul más oscuro */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Efecto al hacer clic */
        .buttons.info:active {
            background-color: #1c6ea4; /* Azul aún más oscuro */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transform: translateY(2px);
        }

        /* Estilo para el botón deshabilitado */
        .buttons.info:disabled {
            background-color: #3498db;
            opacity: 0.6;
            cursor: not-allowed;
        }


.boxitem {
    width: 90%;
    height: 60px;
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.itemText {
    width: 10%;
    min-width: 200px;
    height: 60px;
    /*background: #3498db;*/
    background: #2980b9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsstyle {
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 1.2em;
    background: #f1f1f1;
    border: 1px solid white;
    border-bottom: 2px solid #2980b9;
    padding: 0px 10px;
}


.tituloreg {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #3498db;
    margin: 10px 0;
    padding: 10px;
}



.heigthbottom{
    height: 45px;

}